{:emacs/registers {"?-" "~/bin/registers/minus.register"
                   "?=" "~/bin/registers/equals.register"
                   "?0" "~/bin/registers/0.register"
                   "?1" "~/bin/registers/1.register"
                   "?2" "~/bin/registers/2.register"
                   "?3" "~/bin/registers/3.register"
                   "?4" "~/bin/registers/4.register"
                   "?5" "~/bin/registers/5.register"
                   "?6" "~/bin/registers/6.register"
                   "?7" "~/bin/registers/7.register"
                   "?8" "~/bin/registers/8.register"
                   "?9" "~/bin/registers/9.register"
                   "?A" "~/bin/registers/A.register"
                   "?S" "~/bin/registers/S.register"
                   "?D" "~/bin/registers/D.register"
                   "?F" "~/bin/registers/F.register"
                   "?G" "~/bin/registers/G.register"
                   "?H" "~/bin/registers/H.register"
                   "?J" "~/bin/registers/J.register"
                   "?K" "~/bin/registers/K.register"
                   "?L" "~/bin/registers/L.register"
                   "?:" "~/bin/registers/colon.register"
                   "?a" "~/bin/registers/a.register"
                   "?s" "~/bin/registers/s.register"
                   "?d" "~/bin/registers/d.register"
                   "?f" "~/bin/registers/f.register"
                   "?g" "~/bin/registers/g.register"
                   "?h" "~/bin/registers/h.register"
                   "?j" "~/bin/registers/j.register"
                   "?k" "~/bin/registers/k.register"
                   "?l" "~/bin/registers/l.register"
                   "?;" "~/bin/registers/semicolon.register"}

 :home-manager/pkgs ["clojure"
                     "fd"
                     "fzf"
                     "git"
                     "gh"
                     "gum"
                     "jdk17"
                     "nodejs"
                     "quarto"
                     "stow"
                     "tmux"
                     "yt-dlp"
                     "zsh"]
 :zim/modules ["environment" "git" "input" "termtitle" "utility" "fzf"
               "duration-info" "git-info" "prompt-pwd" "eriner"
               "completion" "zsh-users/zsh-completions --fpath src"
               "zmodule zsh-users/zsh-syntax-highlighting"
               "zmodule zsh-users/zsh-history-substring-search"
               "zmodule zsh-users/zsh-autosuggestions"
               "zmodule zsh-users/zsh-autopair --frozen"]
 :zsh/aliases {"fj" "bb cmd"
               "di" "export ISS=$(gh issue list | fzf | cut -d$'" '"'\t'" '"' -f1) && gh issue develop $ISS -b canary --checkout"
               "grep" "grep --color=auto"
               "cp" "cp -i"
               "mv" "mv -i"
               "rm" "rm -i"
               "psmem" "ps auxf | sort -nr -k 4 | head -5"
               "pscpu" "ps auxf | sort -nr -k 3 | head -5"}
 :zsh/exports {}}
